<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj01.first.mapper.CourseOrderMapper">
    <sql id="search_where">
        <where>
            <if test="condition.wechat_no != null and condition.wechat_no !=''">
                wechat_no like '%${condition.wechat_no}%'
            </if>
            <if test="condition.wechat_mark != null and condition.wechat_mark !=''">and wechat_mark like
                '%${condition.wechat_mark}%'
            </if>
            <if test="condition.qq_no != null and condition.qq_no !=''">and qq_no like '%${condition.qq_no}%'
            </if>
        </where>
    </sql>
    <select id="findCountByMap" parameterType="map" resultType="int">
        select count(*) from t_course_order
        <include refid="search_where"></include>;
    </select>

    <select id="findListByMap" parameterType="map" resultType="com.pj01.first.model.CourseOrder">
        select * from t_course_order
        <include refid="search_where"></include>
        order by order_date desc limit #{start},#{pageSize};
    </select>

    <insert id="insert" parameterType="courseOrder">
        INSERT INTO t_course_order
        (uuid,order_id,name,wechat_no,wechat_mark,
         qq_no,tel,course_name,course_price,order_date,
         update_datetime,remark)
        VALUES (UUID(), UUID(), #{name}, #{wechat_no},#{wechat_mark},
         #{qq_no}, #{tel}, #{course_name}, #{course_price},#{order_date},
          CURRENT_TIMESTAMP(),#{remark});
    </insert>
    <delete id="deleteByOrderId" parameterType="string">
        delete from t_course_order where order_id = #{order_id};
    </delete>

    <select id="findByOrderId" parameterType="String" resultType="com.pj01.first.model.CourseOrder">
        select * from t_course_order where order_id = #{orderId};
    </select>
    <update id="update" parameterType="courseOrder">
        UPDATE t_course_order SET name = #{name},wechat_no = #{wechat_no}, wechat_mark = #{wechat_mark},qq_no = #{qq_no}, tel = #{tel},course_name = #{course_name}, course_price = #{course_price},order_date = #{order_date}, remark = #{remark} WHERE order_id = #{order_id};
    </update>
    <select id="getMonthIncomes" resultType="com.pj01.first.model.Monthincome">
    SELECT LEFT(order_date,7)as date,
    COUNT(*) as total,
    SUM(convert(course_price,decimal(18,2))) as income
    FROM t_course_order
    GROUP BY LEFT(order_date,7);
    </select>
    <select id="queryByUserNameAndPwd" resultType="com.pj01.first.model.User">
        select * from new_admin where username = #{username} and password = #{password} limit 0,1;
    </select>

</mapper>